<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <style>
        .error-box {
            background: #ffe6e6;
            border: 1px solid red;
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        .error-box ul {
            margin: 10px 0;
        }
        .error-box li {
            color: red;
        }
        .error-msg {
            color: red;
            font-size: 14px;
            margin-top: 5px;
            display: block;
        }

    </style>
</head>
<body>
    <%- include('../partials/header') %>

    <!--  Opcion 1 errores: mostrarlos todos arriba -->

    <% if (errors.length > 0) { %>
        <div class="error-box">
            <strong> Por favor corrige los siguientes errores:</strong>
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
    <% } %>
    <form action="/usuarios/create" method="POST" enctype="multipart/form-data" novalidate>
        <div>
            <label for="nombre">Nombre</label>
            <input 
                type="text" 
                id="nombre" 
                name="nombre" 
                value="<%= oldData.nombre || '' %>">
            <% const errorNombre = errors.find(e => e.path== 'nombre') %>
            <% if (errorNombre) { %>
                <span class="error-msg">
                    <%= errorNombre.msg %>
                </span>
            <% } %>
        </div>

          <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email"
            value="<%= oldData.email || '' %>">
            <% const errorEmail = errors.find(e => e.path== 'email') %>
            <% if (errorEmail) { %>
                <span class="error-msg">
                    <%= errorEmail.msg %>
                </span>
            <% } %>
        </div>

        <div>
            <label for="imagen_usuario"> Imagen de perfil</label>
            <input type="file"
                    id="imagen_usuario"
                    name="imagen_usuario" 
                    accept="image/*"
            >
            <small> Opcional. maximo 5MB. Formatos: JPG, PNG, GIF </small>
            <% const errorImagen = errors.find(e => e.path== 'imagen_usuario') %>
            <% if (errorImagen) { %>
                <span class="error-msg">
                    <%= errorImagen.msg %>
                </span>
            <% } %>
        </div>

        <button type="submit">Crear Usuario</button>
        <a href="/usuarios"> Cancelar </a>

    </form>
</body>
</html>